<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.guoqingxian.mapper.BlogMapper">
  <resultMap id="BaseResultMap" type="com.guoqingxian.model.Blog">
    <!--@mbg.generated-->
    <!--@Table blog-->
    <id column="bid" jdbcType="INTEGER" property="bid" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="content" jdbcType="VARCHAR" property="content" />
    <result column="label" jdbcType="VARCHAR" property="label" />
    <result column="cid" jdbcType="INTEGER" property="cid" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    bid, title, content, `label`, cid
  </sql>
</mapper>